@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Produto color */
    --clr-blue: #4EA8DE;
    --clr-dark-blue: #1E6F9F;
    --clr-purple: #8284FA;
    --clr-dark-purple: #5E60CE;
    /* Base color */
    --clr-gray-700: #0d0d0d;
    --clr-gray-600: #1a1a1a;
    --clr-gray-500: #262626;
    --clr-gray-400: #333333;
    --clr-gray-300: #808080;
    --clr-gray-200: #d9d9d9;
    --clr-gray-100: #f2f2f2;
    --clr-danger: #e25858;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background-color: var(--clr-gray-600);
}
header{
    background-color: var(--clr-gray-700);
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
main{
    width: calc(100% - 50px);
    max-width: 640px;
    margin: auto;
}
.input-container{
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: calc(100% - 50px);
    max-width: 640px;
}
.input-text{
    width: 80%;
    font-size: 16px;
    border: 1px solid var(--clr-gray-700);
    background-color: var(--clr-gray-500);
    color: var(--clr-gray-300);
}
.input-text:focus{
    color: var(--clr-gray-100);
    border: 1px solid var(--clr-dark-purple);
}
.input-submit{
    width: 20%;
    font-size: 14px;
    border: none;
    background-color: var(--clr-dark-blue);
    color: var(--clr-gray-100);
    font-weight: 700;
}
.input-submit:hover{
    cursor: pointer;
    background-color: var(--clr-blue);
}
.input-text, .input-submit{
    outline: none;
    padding: 16px;
    border-radius: 8px;
}
.task-info{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    color: var(--clr-purple);
    margin: 90px 0 20px;
}
.task-info span:first-child{
    color: var(--clr-blue);
}
.task-data{
    display: grid;
    justify-items: center;
    align-items: center;
    border-top: 1px solid var(--clr-gray-400);
    border-radius: 8px;
    padding: 64px 24px;
    color: var(--clr-gray-300);
    text-align: center;
}
.task-data span:nth-child(2){
    margin-top: 20px;
    font-weight: 700;
}
.task-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--clr-gray-100);
    list-style: none;
    font-size: 14px;
    line-height: 19.6px;
    cursor: pointer;
}
.task-list li{
    position: relative;
    background-color: var(--clr-gray-500);
    border: 1px solid var(--clr-gray-400);
    border-radius: 8px;
    padding: 16px 45px 16px 45px;
}
.task-list li::before{
    content: '';
    position: absolute;
    top: 31.5%;
    left: 2%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
}
.task-list li.checked::before{
    background-image: url('images/checked.png');
}
.task-list li.checked{
    color: var(--clr-gray-300);      
    text-decoration: line-through;
}
.task-list li span{
    position: absolute;
    top: 31.5%;
    right: 3%;
    color: var(--clr-danger);
    font-size: 20px;
}